.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ccc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* .Title {
  color: white;
} */

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
  outline: none;
}

a {
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  text-align: center;
  text-decoration: none;
  color: black;
}

.bntAcessar {
  background-color: rgb(176, 54, 54);
  color: white;
}
