.conteinerHome {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #00004d, #000000);
}

.grupoConteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.areaAdd {
  background-color: white;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  border-radius: 5px;
}

.textAdd {
  color: rgb(176, 54, 54);
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.areaAdd input {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.areaAdd button {
  width: 50%;
  height: 50px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  opacity: 0.9;
}

.areaRender {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  border-radius: 5px;
  padding: 10px;
}

.itemMap {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  opacity: 0.9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}

.itemMap h2 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  opacity: 0.9;
  margin-bottom: 20px;
}

.itemMap h4 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: white;
  opacity: 0.6;
}

.itemMap button {
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
}

.itemMap button:hover {
  transform: scale(1.2);
  background-color: red;
  color: wheat;
}

@media screen and (max-width: 600px) {
  .grupoConteudo {
    display: flex;
    flex-direction: row;
  }
  .areaAdd {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
  }
  .areaAdd h2 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: red;
    opacity: 0.9;
    margin-bottom: 20px;
  }
  .areaAdd input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .areaRender {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .itemMap {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    opacity: 0.9;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
