.header{
    width: 100%;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 0px 5px rgba(253, 253, 253, 0.967);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}